### Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. JavaScript
5. Java
6. Julia

Some of the commonly libraries used by Data Scientists include:

* NumPy
* SciPy
* TensorFlow
* ggplot2

| Data Science Tools|
| --- |
| Jupyter Notebook |
| R Studio |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python:

1+2;
3*4;
5-2;

### Below are a few examples of evaluating arithmetic expressions in Python:

In [4]:
1+2

3

In [5]:
3*7

21

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

Objectives:
* Use markdowns
* Use arithmetic expressions
* Use a single column table
* List some Data Science Languages
* List some Data Science Tools
* List some Data Science Libraries

## Author
Brenda Soledad